

.bg{
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
    position: relative;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

iframe{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    max-width: 885px;
    width: 100%;
    max-height: 515px;
    height: 100%;
}
